@use "sass:map";
@use "../../../global_styles/abstracts" as *;

.todo-filter {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__actions {
    @include horizontal-bar;
    justify-content: space-between;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: $fs-300;
    transition: all 0.5s ease-out;

    &--dark-theme {
      background-color: map.get($dark-blue-dark-theme, "600");
      color: map.get($grayish-blue-dark-theme, "600");
    }

    &--light-theme {
      background-color: map.get($grayish-blue-light-theme, "300");
      color: map.get($grayish-blue-light-theme, "600");
    }
  }

  &__clear {
    @include reset-button;
    color: inherit;
    font-size: inherit;
    font-weight: $fw-700;
    &--dark-theme:hover {
      color: map.get($grayish-blue-dark-theme, "300");
    }

    &--light-theme:hover {
      color: map.get($grayish-blue-light-theme, "700");
    }
  }

  &__filters {
    display: none;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;

    &--dark-theme {
      background-color: map.get($dark-blue-dark-theme, "600");
      color: map.get($grayish-blue-dark-theme, "500");
    }

    &--light-theme {
      background-color: map.get($grayish-blue-light-theme, "300");
      color: map.get($grayish-blue-light-theme, "600");
    }

    &--seperate {
      @include horizontal-bar;
      justify-content: center;
      gap: 1.25rem;
      border-radius: 4px;
    }

    @media (min-width: 34.375em) {
      display: flex;
      justify-content: center;
      gap: 1.25rem;
      &--seperate {
        display: none;
      }
    }
  }

  &__filter {
    @include reset-button;
    color: inherit;
    font-size: $fs-400;
    font-weight: $fw-700;

    &--active {
      color: $bright-blue;
    }

    &--dark-theme:hover {
      color: map.get($grayish-blue-dark-theme, "300");
    }

    &--light-theme:hover {
      color: map.get($grayish-blue-light-theme, "700");
    }
  }
}
