@use "sass:map";
@use "../../../global_styles/abstracts" as *;

.login {
  position: relative;
  z-index: 1;
  width: min(35rem, 100%);
  margin-inline: auto;
  border-radius: 4px;
  background-color: map.get($dark-blue-dark-theme, "600");
  color: map.get($grayish-blue-dark-theme, "300");
  padding: 1rem 1.25rem;

  @media (min-width: 34.375em) {
    padding: 1.25rem 1.5rem;
  }

  &__title {
    text-align: center;
  }

  &__form {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.75rem;
  }

  &__submit {
    margin-top: 1rem;
    margin-bottom: 2rem;
    border: none;
    color: map.get($grayish-blue-dark-theme, "300");
    background-color: map.get($grayish-blue-dark-theme, "700");
    background-color: #bc252a;
    border-radius: 8px;
    font-size: $fs-500;
    font-weight: $fw-700;
    padding: 1rem;
    width: min(12rem, 100%);
    cursor: pointer;
  }

  a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: map.get($grayish-blue-dark-theme, "500");
    font-size: $fs-300;
  }
}
