@use "sass:map";
@use "../../../global_styles/abstracts" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(35rem, 100%);
  margin-inline: auto;
  margin-bottom: 1.25rem;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-out;

  &__right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__title {
    font-size: clamp(1.5rem, 1rem + 3.9vw, 2.2rem);
    letter-spacing: 10px;
    color: map.get($grayish-blue-dark-theme, "400");
  }

  &__toggle-theme {
    display: block;
    @include reset-button;
    svg {
      color: map.get($grayish-blue-dark-theme, "400");
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: $fs-500;
    font-weight: $fw-700;
    color: map.get($grayish-blue-dark-theme, "400");
    background: none;
    border: none;
    cursor: pointer;
    svg {
      display: block;
      width: 14px;
      height: 14px;
      color: map.get($grayish-blue-dark-theme, "400");
    }
  }
}
