@use "sass:map";
@use "../../../global_styles/abstracts" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(35rem, 100%);
  margin-inline: auto;
  margin-bottom: 1.25rem;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-out;

  &--dark-theme {
    color: map.get($grayish-blue-dark-theme, "400");
  }

  &--light-theme {
    color: map.get($grayish-blue-light-theme, "300");
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;

    @media (min-width: 22.5em) {
      gap: 1rem;
    }
  }

  &__title {
    font-size: clamp(1.5rem, 1rem + 3.9vw, 2.2rem);
    letter-spacing: 10px;
    color: inherit;
  }

  &__toggle-theme {
    display: block;
    @include reset-button;
    color: inherit;
    svg {
      color: inherit;
    }
  }

  &__user {
    display: flex;
    align-items: center;
    gap: 0.35rem;
    font-size: $fs-500;
    font-weight: $fw-700;
    color: inherit;
    background: none;
    border: none;
    cursor: pointer;
    svg {
      display: block;
      width: 14px;
      height: 14px;
      color: inherit;
    }
  }

  &__drop-down {
    padding: 0.5rem;
    position: absolute;
    top: calc(100% + 0.1rem);
    right: 0;
    border-radius: 4px;

    &--dark-theme {
      background-color: map.get($dark-blue-dark-theme, "600");
      color: map.get($grayish-blue-dark-theme, "500");

      button:hover {
        color: map.get($grayish-blue-dark-theme, "300");
      }
    }

    &--light-theme {
      background-color: map.get($grayish-blue-light-theme, "300");
      color: map.get($grayish-blue-light-theme, "600");
      button:hover {
        color: map.get($grayish-blue-light-theme, "700");
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      border: none;
      background: none;
      margin: 0;
      padding: 0.2rem;
      cursor: pointer;
      color: inherit;
      font-size: $fs-400;
      svg {
        display: block;
        color: inherit;
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
