@use "sass:map";
@use "../../../global_styles/abstracts" as *;

.main-container {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  justify-items: stretch;
  align-items: start;
  position: relative;
  padding: 1.5rem;
  min-height: 100vh;
  transition: all 0.5s ease-out;
  &--dark-theme {
    background-color: map.get($dark-blue-dark-theme, "700");
  }

  &--light-theme {
    background-color: map.get($grayish-blue-light-theme, "400");
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    &--mobile {
      display: block;
    }

    &--desktop {
      display: none;
    }

    @media (min-width: 37.5em) {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
      }
    }
  }
  @media (min-width: 37.5em) {
    padding: 3rem;
  }
}
