@use "sass:map";
@use "../../../global_styles/abstracts" as *;

.todo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 35rem;
  margin-inline: auto;
  margin-top: 1.25rem;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-out;

  &--dark-theme {
    color: map.get($grayish-blue-dark-theme, "600");
  }

  &--light-theme {
    color: map.get($grayish-blue-light-theme, "600");
  }

  &__drag-text {
    font-size: $fs-400;
    text-align: center;
    color: inherit;
    margin-top: 2.625rem;
  }
}
